
.rodape{
    text-align: center;
    margin: 5rem 3rem;
}

.rodape__lista{
 display: flex;
 justify-content: center;
 list-style-type: none; /* tira a decoração da lista*/
 margin-top: 1rem;
 
}

.lista__link a{ 
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1rem;    
}

.rodape__texto{
  padding: 1rem 0;
  color: var(--branco-principal);
  font-size: 14px;
}



.lista__link a:hover{
    color: var(--botao-azul); /*passa o mouse*/
}


.lista__link a:active{
    color: blueviolet; /*quando clica*/
}